footer {
    background-color: var(--begePadrao);
    text-align: justify;
}

.footer{
    width: 100%;
    justify-items: center;
}

.footer-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.footer-section{
    width: 30%;
    justify-items: center;
}
