:root{
    --laranja: rgb(255, 140, 0);
    --verdeFundo: #218d09;
    --begePadrao: #f8dec9;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, var(--begePadrao), var(--verdeFundo));
    max-height: fit-content;    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


p{
    color: black;
}



