#banner-home {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0; 
    padding: 0; 
    padding-top: 50px;
}
.main-home{
    width: 100%;
    padding-top: 50px;
    margin: 0;
    padding: 0;
}

.propagandas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-left: 5%;
    justify-items: center;
    padding: 0px 50px;
}

.home-container-propaganda{
    background-color: bisque;
    border: 2px solid rgb(208, 179, 144);
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
}
.propaganda-container{
    max-width: 250px;
    min-width: 215px;
}

.propaganda-container :hover{
    border-color: var(--verdeFundo);
}

.home-container-propaganda img{
    width: 180px;
    border-radius: 10px;
}

.voltarAoTopo {
    display: none;
    position: fixed;
    right: 20px; 
    bottom: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.voltarAoTopo img {
    width: 50px; 
    height: 50px;
    pointer-events: none;
}


.voltarAoTopo, .whatsapp{
    background: none;
    border: none;
    cursor: pointer;
}

.whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
}

